*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-3{
    width: 33.333%;
}
.col-4{
    width: 25%;
}
.col-full{
    width: 100%;
}
.btn-learn-more{
    width: 146px;
    height: 48px;
    /* left: 16px;
    right: 16px;
    top: 8px;
    bottom: 8px; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}