
#main{
    
}

/*Grid*/

#grid{
    position: static;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    width: 1440px;
    border-radius: 3px;

}

#grid > #nav{
    z-index: 1;
    display: inline-block;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 96px;
    background-color: #FFFFFF;
    box-shadow: rgb(221, 223, 224);
}

#home{
    /* display: inline-block; */
}
    
#nav > li{
    display: inline-block;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 18px;
}

#nav {
    display: flex;
    width: 100%;
    align-items: center;
    /* text-align: center; */
}

#nav li{
    position: relative;
    
}

#nav li a{
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    left: 16px;
    right: 16.12px;
    top: 8px;
    bottom: 8px;
    color: #6C5CE7;
}


#btn_signin{
    background: #6C5CE7;
    border-radius: 999px;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 8px;
    bottom: 8px;
    font-size: 24px;
    line-height: 36px;
}

/* How it work */

#howitwork{
    display: grid;
    width: 100%;
}

#hiw_h1{
    font-size: 96px;
    line-height: 104px;
    letter-spacing: -3px;
    left: 9.38%;
    right: 9.38%;
    top: 176px;
    /* position: absolute; */
}

#hiw_h2{
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    align-items: flex-end;
    letter-spacing: -1px;
    height: 80px;
    left: 23.26%;
    right: 23.26%;
    top: 296px;
}

#hiw_h{
    display: flex;
    text-align: center;
}

#sub_grid{
    width: 100%;
}

#sub_grid1{
    width: 25%;
}
#sub_grid2{
    width: 75%;
}


/* Who are we */

#whoweare{
    /* position: static; */
    width: 1440px;
    height: 666px;
    left: 0px;
    top: 1286px;
}

#hwa_heading{
    height: 49px;
    left: 9.38%;
    right: 9.38%;
    top: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    color: #2D3436;
}

#hwa_text{
    position: absolute;
    height: 72px;
    top: 144px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -0.25px;
    color: #2D3436;
}

.hwa-list{
    display: flex;
    flex: 1;

}

.hiw-list > .col-4 {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 25px;
    text-align: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    margin: 16px auto;
    padding-top: 18px;
    position: absolute;
}

.hiw-list > .col-4 > .icon-phone{
    background-color: #E84393;
}

.hiw-list > .col-4 > .icon-clock{
    background-color: #0984E3;
}

.hiw-list > .col-4 > .icon-flash{
    background-color: #6C5CE7;
}

.hiw-list > .col-4 > .icon-like{
    background-color: #00B894;
}

.hiw-list-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.hiw-list-text{
    /* position: absolute;
    top: 146px;
    bottom: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436; */
}

/* What we do */

#whatwedo{
    
}

#wwd_heading{
    height: 78px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1px;
    position: absolute;
    color: #2D3436;
}

#wwd_heading_text{
    position: relative;
    height: 40px;
    /* left: 30.21%;
    right: 30.21%; */
    top: 186px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.5px;
    color: #ADADAD;
}

#wwd_list > .col-3{
    display: flex;
    flex: 1;
}

.wwd_text{

}

.wwd_payment{

}

.wwd_desc{

}





